.loading .canvas-container {
	height: 100vh;
	width: 100%;
	background: white;
	text-align: center;
	display: table;
}

.loading .canvas-container:before{
	/*content: "";*/
	display: inline-block;
	vertical-align: middle;
	width: 0;
	margin-right: -.25em; /*might want to tweak this. .25em for extra white space */
	height: 100%;
}

.loading canvas {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
}

.loading #spinner-holder {
	display: table-cell;
	vertical-align: middle;
}

.loading .spinner-container {
	margin: 0 auto;
	height: 30px;
	width: 30px;
	animation: rotate 0.8s infinite linear;
	border: 2px solid #575757;
	border-right-color: transparent;
	border-radius: 50%;
	top: 25%;
	transform: translateY(-25%);
	margin: 0px auto;
	position: relative;
}