/*cooperate design colors
	font: #575757
	font-hover: #2d2d2d
	special-font: #627D7F
	background: #274245 (darkest)
	other:	#01484F (light)
			#498388	(lighter)
			#627D7F (lightest)
			
*/
.spinner-container {
	margin: 0px auto;
	height: 100%;
	width: 18px;
}
.login-spinner {
	margin: 0 auto;
	height: 18px;
	width: 18px;
	animation: rotate 0.8s infinite linear;
	border: 2px solid #fff;
	border-right-color: transparent;
	border-radius: 50%;
	top: 25%;
	transform: translateY(-25%);
	margin: 0px auto;
	position: relative;
	display: none;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

html, h1, h2 , h3, h4, body, ul, li, div, form, table, td, tr, p, input, span {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
}

body:after
{
	content: url('../img/admin-button-hover.png') url('../img/logout-button-hover.png') url('../img/visitor-button-hover.png');
	display: none;
}

table {
	border-collapse: collapse;
}

table tr {
	border-bottom: 4px solid white;
}

table tr:last-child {
	border-bottom: 0;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #575757;
}

a:hover {
	color: #2d2d2d
}

img {
	cursor:pointer;
}

/*index*/

#forbidden-overlay {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.overlay-modal {
	width: 300px;
	height: 200px;
	position: fixed;
	top: 50%; 
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
	background-color: red;
	border-radius: 5px;
	color: white;
	text-align: center;
	display: table;
	z-index: 11; /* 1px higher than the overlay layer */
}

.overlay-modal div {
	display: table-cell;
	vertical-align: middle;
}

#alert-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,0.5); /*dim the background*/
}

#container {
	height: auto;
	width: 100%;
	position: absolute;
}

/*modal view*/

#wrapper {
	height: auto;
	width: 100%;
	position: relative;
}

#header-container {
	height: auto;
	width: 100%;
	padding: 0;
	position: relative;
}

#navigation-container {
	/*display: none; needs to be removed again*/
	height: auto;
	width: 100%;
	text-align: center;
	background: #ffffff;
	z-index: 2;
	margin-top: -54px;
}

#content-container {
	height: calc(100vh-50-300-184-30);
	width: 100%;
	background: white;
	text-align: center;
	padding-top: 150px;
	min-height: 100vh;
}

#footer-container {
	height: auto;
	width: 100%;
	/*background: #274245;*/
	background: #F7F7F7;
	text-align: center;
}

#copy-container {
	height: auto;
	width: 100%;
	background: white;
	text-align: center;
	color: gray;
}

#back-to-top {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 9999;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 30px;
	background: #f5f5f5;
	color: #444;
	cursor: pointer;
	border: 0;
	border-radius: 2px;
	text-decoration: none;
	transition: opacity 0.2s ease-out;
	display: none;
}
#back-to-top:hover {
	background: #e9ebec;
}
#back-to-top.show {
	opacity: 1;
	display: block;
}

/*header view*/

#header {
	max-width: 1000px;
	width: auto;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#header::after {
	content: "";
	opacity: 0.9;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
	background-image: url(../img/eb.png);
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-filter: blur(8px);
	filter: blur(8px);
	margin: -20px;
	-webkit-animation: noblur 2s linear forwards;
	-moz-animation: noblur 2s linear forwards;
	-ms-animation: noblur 2s linear forwards;
	-o-animation: noblur 2s linear forwards;
	animation: noblur 2s linear forwards;
}

@keyframes noblur {
	to {
		margin: 0;
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		filter: blur(0px);
	}
}

#header-base-container {
	height: 100vh;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#header-logo {
	position: absolute;
	top: 20px;
	left: 20px;
	font-style: initial;
	font-weight: bold;	
}

#header-logo img {
	max-width: 120px;
}

#header-link-container {
	position: absolute;
	top: 15px;
	right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#header-social-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#header-social-container a {
	display: inline-block;
	margin: 0 auto;
	padding-left: 10px;

}

#header-social-container a img {
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	cursor: pointer;
	width: 25px;
	display: block;
}

#header-social-container a img:hover {
	opacity: 0.6;
}

#header-phrase-container {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
	position: relative;
	margin-bottom: 30%;
	font-size: 1em;
	text-shadow: 1px 1px black;
	font-weight: initial;
	font-family: Helvetica Neue;
	font-style: italic;	
}

#phrase-container-sizer-right {
	float: right;
	display: flex;
	height: 100%;
	max-width:700px;
	justify-content: center;
	align-items: center;
}

#sizer-heading {
	color:  white;
	font-size: 4.5em;
	display: block;'
}

#sizer-words {
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.typing {
	-webkit-animation: typing 2s steps(21, end) 8s forwards,
						blink-caret .5s step-end 3 8s forwards,
						remove-caret 2s linear 11s forwards;
	color :white;
	text-shadow: 1px 1px black;
	font-size: 3em; 
	overflow: hidden;
	opacity: 0;
	border-right: .1em solid white;
	white-space: nowrap;
	width: 16.5em;
	width: 21ch;
	display: inline-block;
}


@-webkit-keyframes typing { from { width: 0; opacity: 1; }
to { opacity: 1; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }
@-webkit-keyframes remove-caret { 100% { border-color: transparent; } }


#sizer-words span{
	color :white;
	position: absolute;
	text-shadow: 1px 1px black;
	opacity: 0;
	font-size: 2.5em; 
	overflow: hidden;
	display: inline;
	animation: rotateWords 8s linear 1 0s forwards;
}

#sizer-words span:nth-child(2) { 
	animation-delay: 2s; 
}
#sizer-words span:nth-child(3) { 
	animation-delay: 4s; 
}
#sizer-words span:nth-child(4) { 
	animation-delay: 6s; 
}
#sizer-words span:nth-child(5) { 
	animation-delay: 8s; 
}
#sizer-words span:nth-child(6) {  
	animation-delay: 10s; 
}

@keyframes rotateWords {
    0% { opacity:0.9; animation-timing-function: ease-in;}
    8% { opacity: 0.9;}
    12% { opacity: 0;}
	25% { opacity: 0;}
    100% { opacity: 0; }
}

#header-contact-container {
	display: block;
	position: absolute;
	margin-top: 30%;
	border: 1px solid white;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 3%;
	padding-right: 3%;
	border-radius: 5px;
	color: white;
	cursor:pointer;
}

#header-contact-container:hover {	
	background-color: rgba(255 ,255 ,255, 0.3);
	transition: all 2s ease;
}

/*navigation view*/

.navigation-down {
	border-bottom: 1px solid lightgrey;
	padding-bottom: 5px;
}

#navigation-big {
	height: 50px;
	max-width: 1000px;
	width: auto;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#navigation-big .list {
	width: auto;
	height: 50px;
	float: right;
	/*margin-right: 150px;*/
	display: inline-block;
	position: relative;
}

#navigation-big .list ul {
	list-style: none;
	height: 100%;
	margin: 0;
	padding: 0;
	float: right; 
}

#navigation-big .list li {
	float: left;
	height: 100%;
	text-align: center;
	display: inline;
}

.admin #navigation-big .list li:nth-of-type(7) {
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}

.admin #navigation-big .list li:last-of-type a {
	height: 50px;
	padding-top: 8px;
	width: 60px;
	padding-top: 0px;
	background-image: url('../img/logout-button.png');
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 20px;
}

.admin #navigation-big .list li:last-of-type a:hover {
	background-image: url('../img/logout-button-hover.png');
}

.admin #navigation-big .list li:last-of-type img {
	height: 30px;
}

#navigation-big a {
	height: 35px;
	width: 100px;
	padding-top:15px;
	display:inline-block;
	font-size: 1.0em;
	text-decoration: none;
	color: #575757;
}

#navigation-big a:hover {
	color: #2d2d2d;
}

#navigation-small {
	height: 50px;
	max-width: 1000px;
	width: auto;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
	display: none;
}

#navigation-small .list {
	width: 100%;
	display: inline-block;
	position: relative;
	display: none;
		box-shadow: 5px 5px 2px #888888;
	
}

#navigation-small .list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigation-small .list li {
	height: 100%;
	text-align: center;
}

#navigation-small a {
	height: 50px;
	width: 100%;
	padding-top:15px;
	display:inline-block;
	font-size: 1.0em;
	text-decoration: none;
	color: #575757;
	line-height: 50px;
	vertical-align: middle;
	background: white;
}

#navigation-small a:first-child {
	padding-top: 0px;
}

#navigation-small a:hover {
	color: white;
	background: #274245;
}

#navigation-small-button {
	float: right;
	margin-right: 20px;
	cursor: pointer;
	height: 100%;
	display: table;
}

#navigation-small-stripe-container {
	display: table-cell;
	vertical-align: middle;
}

.navigation-small-stripe {
	height: 2px;
	width: 30px;
	background: #2D2D2D;
	margin-bottom: 5px;
	border: 1px solid #2D2D2D;
	border-radius: 10px;
}

#navigation-small-divider {
	clear: both;
	background: none repeat scroll 0% 0% #274245;
}

#navigation-small-button div div:hover {
	background: none repeat scroll 0% 0% red;
}

#navigation-small-button div div:hover {
	background: none repeat scroll 0% 0% red;
}

.locales-big {
	display: inline-block;
	color: rgb(87, 87, 87);
	line-height: 50px;
	vertical-align: middle;
	position: absolute;
	right: 0px;
	margin-right: 15px;
}

.locales-small {
	width: 100%;
	display: inline-block;
	color: rgb(87, 87, 87);
	line-height: 50px;
	vertical-align: middle;
	background: white none repeat scroll 0% 0%;
}

.locales-big span,
.locales-small span {
	cursor: pointer;
}

.locales-big span:hover,
.locales-small span:hover {
	color: #2d2d2d;
}























#admin-logo img {
	height:20px;
	width:auto;
	margin-top:15px;
	margin-bottom:15px;
	float: left;
	margin-left: 10px;
}

#visitor-logo {
	display: none;
	opacity: 0;
}

#visitor-logo img {
	height:20px;
	width:auto;
	margin-top:15px;
	margin-bottom:15px;
	float: left;
	margin-left: 10px;
}

#static-logo img {
	height:20px;
	width:auto;
	margin-top:15px;
	margin-bottom:15px;
	float: left;
	margin-left: 10px;
}

#navigation-shadowbox {
	width: 100%;
	height: 100%;
	/*box-shadow: 
	0 -10px 20px -8px black, 0 8px 2px -8px black;*/
	position: relative;
	border-bottom: 3px solid #01484F;
}

#search-box {
	height: 35px;
	padding-top: 15px;
	display: inline-block;
	visibility: hidden;
	font-size: 1.0em;
	text-decoration: none;
	color: #575757;
	margin-right: 15px;
}

#search-box div {
	border-bottom: 1px solid #575757;
}

#search-box input {
	padding-right: 5px;
	width: 100px;
}

#search-box img {
	height: 12px;
}

.navigation-down {
	border-bottom: 1px solid lightgrey;
	padding-bottom: 5px;
}

#navigation {
	height: 50px;
	max-width: 1000px;
	width: auto;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#navigation .list {
	width: 100%;
	height: 50px;
	float: right;
	/*margin-right: 150px;*/
	display: inline-block;
	position: relative;
}

#navigation .list ul {
	list-style: none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	float: right; 
}

#navigation .list li {
	float: left;
	width: 33.3333333%;
	height: 100%;
	text-align: center;
	display: inline;
}

#navigation-container {
	background-color: rgba(255, 255, 255, 0.7);
}

.admin #navigation .list li:nth-of-type(5) {
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}

.visitor #navigation .list li:nth-of-type(4) a {
	height: 50px;
	padding-top: 8px;
	width: 60px;
	padding-top: 0px;
	background-image: url('../img/admin-button.png');
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 20px;
	visibility: hidden;
}

.visitor #navigation .list li:nth-of-type(4) a:hover {
	background-image: url('../img/admin-button-hover.png');
}

.visitor #navigation .list li:nth-of-type(4) img {
	height: 30px;
}

.admin #navigation .list li:last-of-type a {
	height: 50px;
	padding-top: 8px;
	width: 60px;
	padding-top: 0px;
	background-image: url('../img/logout-button.png');
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 20px;
}

.admin #navigation .list li:last-of-type a:hover {
	background-image: url('../img/logout-button-hover.png');
}

.admin #navigation .list li:last-of-type img {
	height: 30px;
}

.admin #navigation .list li:nth-of-type(7) a {
	height: 50px;
	padding-top: 8px;
	width: 60px;
	padding-top: 0px;
	background-image: url('../img/visitor-button.png');
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 20px;
}

.admin #navigation .list li:nth-of-type(7) a:hover {
	background-image: url('../img/visitor-button-hover.png');
}

.admin #navigation .list li:nth-of-type(7) img {
	height: 30px;
}

#navigation a {
	height: 35px;
	width: 100%;
	padding-top:15px;
	display:inline-block;
	font-size: 1.0em;
	text-decoration: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#navigation a:hover {
	color: #2d2d2d;
}

#navigation-small {
	height: 50px;
	max-width: 1000px;
	width: auto;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
	display: none;
}

#navigation-small .list {
	width: 100%;
	display: inline-block;
	position: relative;
	display: none;
		box-shadow: 5px 5px 2px #888888;
	
}

#navigation-small .list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigation-small .list li {
	height: 100%;
	text-align: center;
}

#navigation-small a {
	height: 50px;
	width: 100%;
	padding-top:15px;
	display:inline-block;
	font-size: 1.0em;
	text-decoration: none;
	color: #575757;
	line-height: 50px;
	vertical-align: middle;
	background: white;
}

#navigation-small a:first-child {
	padding-top: 0px;
}

#navigation-small a:hover {
	color: white;
	background: #274245;
}

#navigation-small-button {
	float: right;
	margin-right: 20px;
	cursor: pointer;
	height: 100%;
	display: table;
}

#navigation-small-stripe-container {
	display: table-cell;
	vertical-align: middle;
}

.navigation-small-stripe {
	height: 2px;
	width: 30px;
	background: #2D2D2D;
	margin-bottom: 5px;
	border: 1px solid #2D2D2D;
	border-radius: 10px;
}

#navigation-small-divider {
	clear: both;
	background: none repeat scroll 0% 0% #274245;
}

#navigation-small-button div div:hover {
	background: none repeat scroll 0% 0% red;
}

#navigation-small-button div div:hover {
	background: none repeat scroll 0% 0% red;
}


.active-link {
	background: #01484F;
	color: white;
}

/*footer view*/

#footer {
	height:auto;
	overflow: auto;
	max-width: 1000px;
	width: auto;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#footer-personal {
	padding: 10px;
	overflow: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#footer-tech {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tech-img-box {
	width: 100%;
	display: inline-block;
}

.tech-img-box img {
	/*height: 100%;
	max-width: 100%;*/

width: 70px;
 
}

#contact-container {
	width: 33%;
}

#contact-container p {
	margin-bottom: 20px;
	font-size: 0.8em;
}

#mailto-hint {
	background: #01484F;
	color: white;
	padding: 10px;
	border-radius: 5px;
	margin-top: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	cursor: pointer;
}

#mailto-hint:hover {
	opacity: 0.6;
}

#mailto-hint img {
	max-width: 25px;
	padding: 0;
	line-height: 0;
	margin-left: 10px;
}

#sitemap-container {
	width: 33%;
}

#sitemap-container p {
	margin-bottom: 20px;
	font-size: 0.8em;
}

#sitemap-container ul {
	list-style: none;
}

#sitemap-container ul li {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	-webkit-transition: color 0.5s ease-in-out;
	-moz-transition: color 0.5s ease-in-out;
	-o-transition: color 0.5s ease-in-out;
	-ms-transition: color 0.5s ease-in-out;
	transition: color 0.5s ease-in-out;
	cursor: pointer;
}

#sitemap-container ul li:hover {
	color: #01484F;
}

#social-container {
	width: 33%;
}

#social-container p {
	margin-bottom: 20px;
	font-size: 0.8em; 
}

#social-positioner {
	display:inline-block;
}

.social-img-box:nth-of-type(1),
.social-img-box:nth-of-type(3) {
	padding: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.social-img-box a {
	line-height: 0;
	display: inline-block;
	width: 100%;
}


.social-img-box img {
	left:0;
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	cursor: pointer;
	width: 25px;
}

.social-img-box img:hover {
	opacity: 0.6;
}

/*copy view*/

#copy {
	padding-top: 5px;
	padding-bottom: 5px;
}

/*content view*/

#content {
	text-align: left;
	height:auto;
	width: auto;
	max-width: 1000px;
	min-width: 300px;
	background: white;
	color: #575757;
	overflow: hidden;
	margin-left: auto; margin-right: auto;
}

#content.login {
	min-height: 100vh;
	
}

#content.visitor {
	min-height: calc(100vh - 564px);
}

#content.login #content-spacer {
	padding: 0px;
	margin: 0px;
}

#content.admin {
	min-height: calc(100vh - 80px);
}

#content-spacer {
	margin-left:10px;
	margin-right:10px;
	padding-top:10px;
	padding-bottom:20px;
}

#entry-navigation-top {
	width: 100%;
	height: auto;
	text-align: center;
	border-bottom: 1px dashed #E5E5E5;
	padding-bottom: 10px;
	padding-top: 40px;
}

#entry-navigation-bottom {
	text-align: center;
	font-size: 1.0em;
}

#entry-navigation-bottom #center-box {
	margin: 0 auto;
	display: inline-block;
	padding-top: 5px;	
}

#center-box .plus {
	margin-right: 10px;
}

#entry-navigation-bottom #spinner-holder {
	display: none;
	margin-right: 10px;
}

#entry-navigation-bottom #spinner-container {
	margin: 0px auto;
	height: 100%;
	width: 18px;
}

.loadmore-spinner {
	height: 9px;
	width: 9px;
	animation: rotate 0.8s infinite linear;
	border: 2px solid #575757;
	border-right-color: transparent;
	border-radius: 50%;
	top: 25%;
	transform: translateY(-25%);
	margin: 0px auto;
	position: relative;	
}


/*-------------------------------------------------------------------------*/

.fixed {
	position:fixed;
	top:0;
}


.specialColor {
	color: #627D7F;
}

.noselect { 
	-webkit-touch-callout: none; 
	/* iOS Safari */ 
	-webkit-user-select: none; 
	/* Chrome/Safari/Opera */ 
	-khtml-user-select: none; 
	/* Konqueror */ 
	-moz-user-select: none; 
	/* Firefox */ 
	-ms-user-select: none; 
	/* Internet Explorer/Edge */ 
	user-select: none; 
	/* Non-prefixed version, currently not supported by any browser */ 
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

@media only screen and (max-width: 1000px) {

	#navigation-container {
		background: none;
	}

	#navigation .list li {
		background-color: rgba(255, 255, 255, 0.7);
	}

	#navigation .list li:nth-of-type(1) a {
		border-top-left-radius: 0; 
	}

	#navigation .list li:nth-of-type(3) a {
		border-top-right-radius: 0; 
	}

	#header::after { 
		background-image: url(../img/me2.png);
	}
}

@media only screen and (max-width: 610px) {

	#header {
		font-size: 1em;	
	}

	#header-logo img {
		max-width: 100px;
	}

	#header-social-container a img {
		width: 20px;
	}

	#sizer-heading {
		font-size: 2.5em;
	}

	#sizer-words span{
		font-size: 2em;
	}

	.typing {
		font-size: 2em;
	}
}

@media only screen and (max-width: 430px) {

	#content {
		font-size: 0.8em;
	}

	#content img {
		width: 100px;
	}

	#footer {

		font-size: 0.8em;
	}

	#copy {

		font-size: 0.8em;
	}

	.social-img-box img {
		width: 20px;
	}
	
	#footer p {
		font-size: 0.7em;
	}

	#sizer-heading {
		font-size: 2em;
	}

	#sizer-words span{
		font-size: 1.5em;
	}

	.typing {
		font-size: 1.5em;
	}

	#mailto-hint {
		font-size: 0.8em;
	}

	#mailto-hint img {
		max-width: 20px;
	}
}