/*
####################################################################
timeline reuseable
####################################################################
*/


/*global list stuff*/
.timeline-container {
	width: 100%;
	height: 100%;
	display: inline-block;
	margin-bottom: 20px;
}

ul.timeline {
	margin: 0;
	padding: 0;
	display:block;
	list-style-type: none;
	border-right: 6px solid #575757;
	width: 50%;
}

ul.timeline li {
	margin: 40px 0;
	position: relative;	
	
}

/*
####################################################################
all odd list items
*/

ul.timeline li:nth-child(odd):after {
	content: "";
	position: absolute;
	display: block;
	float: left;
	background-color: #fff;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

ul.timeline li.end:nth-child(odd):after {
	width: 58px;
	height: 58px;
	background-image: url("../img/end.png");
	background-size: 58px 58px;
	top: calc(50% - 40px);
	right: -33px;
}

ul.timeline li.graduate:nth-child(odd):after {
	width: 30px;
	height: 30px;
	background-image: url("../img/graduate.png");
	background-size: 30px 30px;
	top: calc(50% - 18px);
	right: -17px;
}

ul.timeline li.event:nth-child(odd):after {
	width: 30px;
	height: 30px;
	background-image: url("../img/event.png");
	background-size: 30px 30px;
	top: calc(50% - 18px);
	right: -18px;
}

ul.timeline li.other:nth-child(odd):after {
	width: 10px;
	height: 10px;
	border: 3px solid #575757;
	top: calc(50% - 8px);
	right: -11px;
	
}

/*
####################################################################
all even list items
*/

ul.timeline li:nth-child(even) {
	left: 100%;
	margin-left: 6px;
}

ul.timeline li:nth-child(even):before {
	content: "";
	position: absolute;
	display: block;
	float: right;
	background-color: #fff;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

ul.timeline li.end:nth-child(even):before {
	width: 58px;
	height: 58px;
	background-image: url("../img/end.png");
	background-size: 58px 58px;
	top: calc(50% - 40px);
	left: -31px;
}

ul.timeline li.other:nth-child(even):before {
	width: 10px;
	height: 10px;
	border: 3px solid #575757;
	top: calc(50% - 8px);
	left: -11px;
}

ul.timeline li.graduate:nth-child(even):before {
	width: 30px;
	height: 30px;
	background-image: url("../img/graduate.png");
	background-size: 30px 30px;
	top: calc(50% - 18px);
	left: -18px;
}

ul.timeline li.event:nth-child(even):before {
	width: 30px;
	height: 30px;
	background-image: url("../img/event.png");
	background-size: 30px 30px;
	top: calc(50% - 18px);
	left: -18px;
}

/*
####################################################################
all list descriptors
*/

ul.timeline p {
	border-radius: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
	z-index: -16;
	padding: 10px;
	background: #498388;
	color: white;
}

ul.timeline p:before {
}

ul.timeline li:nth-child(odd) p {
	/*background: #e3e3e3;*/
	margin-right: 40px;
}

ul.timeline li:nth-child(even) p {
	/*background: #e3e3e3;*/
	margin-left: 40px;
}

ul.timeline li span {
	position: absolute;
	top: calc(50% - 10px);
	font-weight: bold;
}

ul.timeline li:nth-child(odd) span {
	left: 100%;
	margin-left: 30px;
	white-space: nowrap;
	/*color: #d74327;*/
}

ul.timeline li:nth-child(even) span {
	right: 100%;
	margin-right: 30px;
	white-space: nowrap;
	/*color: #74c53a;*/
}

@media only screen and (max-width: 430px) {

	ul.timeline li:nth-child(even) span {
		white-space: normal;
	}

	ul.timeline li:nth-child(odd) span {
		white-space: normal;
	}

	ul.timeline {
		border-right: 3px solid #575757;
	}

	ul.timeline li.graduate:nth-child(2n)::before {
		width: 25px;
		height: 25px;
		background-size: 25px 25px;
		left: -16px;
	}

	ul.timeline li.graduate:nth-child(2n+1)::after {
		width: 25px;
		height: 25px;
		background-size: 25px 25px;
		right: -15px;
	}

	ul.timeline li.event:nth-child(2n)::before {
		width: 25px;
		height: 25px;
		background-size: 25px 25px;
		left: -17px;
	}

	ul.timeline li.event:nth-child(2n+1)::after {
		width: 25px;
		height: 25px;
		background-size: 25px 25px;
		right: -14px;
	}

	ul.timeline li.other:nth-child(2n+1)::after {
		width: 8px;
		height: 8px;
		border: 3px solid #575757;
		right: -9px;
	}

	ul.timeline li.other:nth-child(2n)::before {
		width: 8px;
		height: 8px;
		border: 3px solid #575757;
		right: -9px;
	}

	ul.timeline li.end:nth-child(2n+1)::after {
		width: 30px;
		height: 30px;
		background-size: 30px 30px;
		right: -17px;
	}

	ul.timeline li.end:nth-child(2n)::before {
		width: 30px;
		height: 30px;
		background-size: 30px 30px;
		right: -17px;
	}
	
	/*
	content: '';
position: absolute;
top: 35%;
left: 27px;
border-top: 15px solid transparent;
border-bottom: 15px solid transparent;
border-right: 15px solid #498388;
	
	*/
}