.user .entry {
	border-bottom: 1px solid #F7F7F7;
	padding-top: 20px;
	padding-bottom: 20px;
}

.user .entry:last-of-type {
	border: none;
}

.user .entry-admin {
	border-bottom: 1px solid lightgray;
	background-color: white;
	color: #575757;
}

.user .entry-admin:hover {
	background-color: #498388;
	color: white;
}

.user .entry-add {
	cursor: pointer;
	padding: 6px;
	text-align: center;
	background-color: #498388;
	color: white;
}

.user .entry-info {
	margin-top:15px;
}

.user .entry-info .permalink {
	float: left;
}

.user .entry-info .posted-date {
	float: right;
}

.user .entry-add:hover {
	color: white;
	background-color: #01484F;
}

.user .entry-id {
	padding: 6px;
	float:left;
	font-weight: bold;
	border-right: 1px solid lightgray;
	width: 50px;
}

.user .entry-error {
	color: darkred;
	margin: 20px 0;
	display: none;
}

.user .entry-name-edit,
.user .entry-pw-edit,
.user .entry-pwapprove-edit,
.user .entry-role-edit {
	border: 1px solid black;
	border-radius: 5px;
	font-size: 14px;
	margin: 20px 0;
	padding-left: 10px;
	padding-right: 10px;
}

.user input,
.user select {
	line-height: 30px;
	width: 100%;
	border: none;
}

.user .entry-title {
	padding: 6px;
	float:left;
	max-width: 710px;
}

.new .entry-title div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.user .entry-delete {
	cursor: pointer;
	padding: 6px;
	float: right;
	min-width: 60px;
	text-align: center;
	background-color: transparent;
}

.user .entry-edit {
	cursor: pointer;
	padding: 6px;
	float: right;
	min-width: 60px;
	text-align: center;
	background-color: transparent;
}

.user .entry-delete:hover {
	background-color: #01484F;
}


.user .entry-edit:hover {
	background-color: #01484F;
}

.user .entry-update {
	cursor: pointer;
	padding: 6px;
	float: left;
	min-width: 60px;
	text-align: center;
	background-color: #498388;
	color: white;
	margin-right: 10px;
}

.user .entry-cancel {
	cursor: pointer;
	padding: 6px;
	float: left;
	min-width: 60px;
	text-align: center;
	background-color: #498388;
	color: white;
}

.user .entry-post {
	cursor: pointer;
	padding: 6px;
	float: left;
	min-width: 60px;
	text-align: center;
	background-color: #498388;
	color: white;
	margin-right: 10px;
}

.user .entry-update:hover {
	color: white;
	background-color: #01484F;
}

.user .entry-cancel:hover {
	color: white;
	background-color: #01484F;
}

.user .entry-post:hover {
	color: white;
	background-color: #01484F;
}

.user .loading-spinner {
	margin: 0 auto;
	height: 18px;
	width: 18px;
	animation: rotate 0.8s infinite linear;
	border: 2px solid #575757;
	border-right-color: transparent;
	border-radius: 50%;
	top: 25%;
	transform: translateY(-25%);
	margin: 0px auto;
	position: relative;
	display: none;
}

.user .loading-spinner.white {
	border: 2px solid #fff;
}

@media only screen and (max-width: 600px) {

	.user .entry-id {
		float: none;
		border-right: 0px;;
	}

	.user .entry-title {
		float: none;
	}
}